 /*General Styling*/
* {
	color: #ffffff;
	margin: 0;
	padding: 0;
}

body{
	background-color: #1a1a1a;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1vw;
}

img {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	object-fit: cover;
}

	/* !basic grid settings */
.page{
	display: grid;
	justify-content: center;
	justify-items: stretch;
	align-content: center;
	max-height: 100vh;
	max-width: 80%;
	margin: auto;
	padding-top: 10%;
}

	/* !home page grid */
.grid-container-home {
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	position: relative;
}

.grid-item-nav {
	grid-column: 1 / span 12;
	grid-row: 1;
	margin: 0 0 1% 0;
}

.grid-welcome {
	grid-column: 1 / 11;
	grid-row: 2;
	z-index: 1;
	margin-top: -4.8%;
}

.grid-hero {
	grid-column: span 4 / -1;
	grid-row: 2 / span 2;
}

.grid-p {
	grid-column: 1 / 6;
	grid-row: 3;
}

	/* !pizza page grid */
.grid-container-pizza {
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, auto);
	grid-column-gap: 0;
	grid-row-gap: 0;
}

.pizza-item-1 {
	grid-column: 1;
	grid-row: 2;
}

.pizza-item-2 {
	grid-column: 2;
	grid-row: 2;
}

.pizza-item-3 {
	grid-column: 3;
	grid-row: 2;
}

	/* !type page grid */
.grid-container-type {
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.type-table {
	grid-column: 1 / span 2;
	grid-row: 2;
}

	/* !panda page grid */
.grid-container-panda {
	grid-template-columns: 1fr 2fr;
	grid-template-rows: repeat(4, auto);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.panda-pic {
	grid-column: 1;
	grid-row: 2 / 4;
}

.panda-facts {
	grid-column: 2;
	grid-row: 2;
}

.disclaimer {
	grid-column: 2;
	grid-row: 3;
}

	/* !form page grid */
.grid-container-form {
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.question {
	grid-column: 1 / 3;
	grid-row: 2 / 4;
	text-align: center;
}

.yes {
	grid-column: 3;
	grid-row: 2;
	position: relative;
	top: 15%;
	right: 15%;
	height: 50%;
	width: 75%;
	margin: auto;
	background-color: #fff;
	border-radius: 50% 10% 10% 50%;
}

.yes:hover {
	cursor: pointer;
	background-color: olive;
}

.no {
	grid-column: 3;
	grid-row: 3;
	position: relative;
	bottom: 15%;
	left: 15%;
	height: 50%;
	width: 75%;
	margin: auto 10%;
	background-color: #fff;
	border-radius: 10% 50% 50% 10%;
}

.no:hover {
	cursor: pointer;
	background-color: #ac2115;
}

	/* ?Content */
.nav {
	font-size: .8vw;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	padding: 0 8%;
	z-index: 3;
	letter-spacing: .3em;
	cursor: pointer;
}

h1 {
	font-size: 13.2vw;
	font-weight: 900;
}

h2 {
	font-size: 7vw;
	letter-spacing: .5vw;
}

a {
	text-decoration: none;
}

a:hover {
	color:#ac2115;
}

figcaption {
	font-style: italic;
	font-size: .5vw;
	text-align: right;
}

.pizza-item {
	padding: 0 1%;
}

.welcome {
	font-size: 1vw;
	text-align: justify;
	text-justify: inter-word;
	text-align-last: justify;
	margin: -29% 7%;
}


	/* ?panda page */
.disclaimer p {
	font-size: .5vw;
	font-style: italic;
	margin: 0;
	padding: 0 5%;
}

	/* ?list */
.panda-list {
	list-style: none;
	text-align: left;
	position: relative;
	margin: 0;
	padding: 5%;
}

li:before { 
	content:''; 
	display:inline-block; 
	height:1em; 
	width:1em; 
	background-image:url('/Images/Panda-dot.png'); 
	background-size:contain; 
	background-repeat:no-repeat; 
	padding-left: 1em;
}

li + li {
	margin-top: 2%;
  }

	/* ?Table */
table {
	width: 100%;
	
}

table, th, td {
	border: 1px solid #1a1a1a;
	border-collapse: collapse;
	background-color: #e1dad4;
	color: #1a1a1a;
	padding: 1%;
	text-align: center;
}

th {
	font-size: 1vw;
	text-transform: uppercase;
	font-family: 'roboto mono', sans-serif;
	font-weight: 700;
}

tbody td {
	width: 11%;
}

.futura {
	font-family: 'futura', sans-serif;
}

.brandon {
	font-family: "brandon-grotesque", sans-serif;
}

.space {
	font-family: 'Space Grotesk', sans-serif;
}

.droid {
	font-family: 'droid-serif', serif;
}

.bd {
	font-family: 'bd-geminis', sans-serif;
}

.thin {
	font-weight: 100;
}

.light {
	font-weight: 300;
}

.regular {
	font-weight: 400;
}

.medium {
	font-weight: 500;
}

.semibold {
	font-weight: 600;
}

.bold {
	font-weight: 700;
}

.black {
	font-weight: 900;
}